.bannerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerContainer > div {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.bannerImageContainerMobile {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center;
  display: none;
}

.bannerImageContainerDesktop {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  display: block;
}
.BannerText {
  margin-top: 7%;
  width: 25%;
}

@media (max-width: 767px) {
  .bannerImageContainerMobile {
    display: block;
  }

  .bannerImageContainerDesktop {
    display: none;
  }

  .bannerContainer {
    padding: 50px 0;
    height: 500px;
  }
  .bannerImageContainerMobile {
    height: auto;
  }
  .BannerText {
    margin: auto;
    width: 75%;
  }
}
