.filterContainer {
  display: grid;
  grid-template-columns: 50% 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 50px;
}

.filterContainer > div {
  /* background-color: var(--main-purple-color); */
  /* padding: 0 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterContainer > div select {
  width: 100%;
  background-color: var(--main-purple-color);
  font-family: var(--p-font-family);
  color: white;
}

.filterContainer > div form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterContainer > div form button {
  color: white;
}

.filterContainer > div form input {
  color: white;
  background-color: var(--main-purple-color);
  font-family: var(--p-font-family);
  border: none;
  margin-top: 0;
}

.filterContainer > div form input[type="text"]::placeholder {
  color: white;
}

.filterContainer > div form input[type="text"] {
  width: 80%;
}

.filterContainer {
  display: grid;
  grid-template-columns: 50% 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 50px;
}

.filterContainer > div {
  /* background-color: var(--main-purple-color); */
  /* padding: 0 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterContainerMob > div select {
  width: 100%;
  background-color: var(--main-purple-color);
  font-family: var(--p-font-family);
  color: white;
}

.filterContainerMob > div form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterContainerMob > div form button {
  color: white;
}

.filterContainerMob > div form input {
  color: white;
  background-color: var(--main-purple-color);
  font-family: var(--p-font-family);
  border: none;
  margin-top: 0;
}

.filterContainerMob > div form input[type="text"]::placeholder {
  color: white;
}

.filterContainerMob > div form input[type="text"] {
  width: 80%;
}

.toggle {
  position: relative;
  cursor: pointer;
  color: #ffffff;
  font-size: 50px;
}

.toggle.on {
  color: var(--main-lightblue-color);
}

.filterToggleContainer {
  background: linear-gradient(
      -45deg,
      transparent 10px,
      var(--main-purple-color) 0
    )
    top left;
  background-repeat: no-repeat;
  padding: 0 15px;
}

.filterToggleContainer p {
  margin: 0;
  color: white;
}

.searchButton {
  display: flex;
  align-items: center;
}

.selectedTagsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.selectedTag,
.selectedCluster {
  display: flex;
  align-items: center;
  background-color: var(--main-bg-purple-color);
  border-radius: 4px;
  padding: 5px 15px;
  margin: 4px;
  color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.clearBtn {
  border: 2px solid red;
}

.removeButton {
  color: red;
  cursor: pointer;
  margin-left: 8px;
}

.filterSearchContainer {
  background: linear-gradient(
      135deg,
      transparent 10px,
      var(--main-purple-color) 0
    )
    top left;
  background-repeat: no-repeat;
  padding: 0 15px;
}

.filterTagsContainer,
.filterCategoriesContainer {
  background-color: var(--main-purple-color);
}

.filterTagsContainer {
  width: 100%;
  padding: 0;
}

.toggleOnOff {
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
  align-items: center;
}
.mobile_filter_margin {
  display: none;
}

@media (max-width: 767px) {
  .mobilefilterIcon {
    display: flex;
    justify-content: center;
    margin-left: 10px;
  }
  .mobilefilterIcon p {
    display: none;
  }
  .mobilefilterIcon svg {
    width: 60%;
  }

  .filterSearchContainer {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .filterSearchContainer form {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .filterContainer {
    display: none;
  }
  .mobile_filter_toggle_style {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-purple-color);
    display: flex;
    flex-direction: column;
    z-index: 9999;
  }
  .filterTagsContainer,
  .filterTagsContainer,
  .filterCategoriesContainer {
    width: 100%;
    padding-left: 16%;
    padding-right: 16%;
    padding-top: 10%;
  }
  .filterToggleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 16% !important;
    padding-right: 16% !important;
    padding-top: 10% !important;
    align-items: center;
  }
  .mobile_filter_margin {
    margin-bottom: 10px;
    margin-top: 40px;
    display: flex;
  }
  .filterContainerMob {
    margin-bottom: 10%;
  }
  .filterMobileSaveChangesBtn {
    text-align: center;
    padding-top: 20px;
    margin: auto;
    width: 70%;
  }

  .selectedTagsContainer {
    margin-bottom: 30px;
  }

  .selectedTagsContainerPop {
    padding-top: 20px;
    margin: auto;
    width: 70%;

    display: flex;
    flex-wrap: wrap;
  }

  .selectedTagsContainerPop .selectedTag,
  .selectedTagsContainerPop .selectedCluster {
    background-color: var(--main-purple-color);
  }
}
