@import "bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica-webfont.woff2") format("woff2"),
    url("/fonts/helvetica-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-bold";
  src: url("/fonts/helvetica-bold-webfont.woff2") format("woff2"),
    url("/fonts/helvetica-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MonoLisa";
  src: url("/fonts/monolisa-regular-webfont.woff2") format("woff2"),
    url("/fonts/monolisa-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pirulen";
  src: url("/fonts/pirulen-webfont.woff2") format("woff2"),
    url("/fonts/pirulen-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */
  --main-bg-purple-color: #000033;
  --main-pink-color: #ff1199;
  --main-purple-color: #7224be;
  --main-lightblue-color: #00f9ff;

  /* Font families */
  --h1-font-family: "Pirulen";
  --h2-font-family: "MonoLisa";
  --h3-font-family: "Helvetica-bold";
  --p-font-family: "Helvetica";

  /* Font sizes */
  --h1-font-size: 38px;
  --h2-font-size: 30px;
  --h3-font-size: 20px;
  --p-font-size: 18px;

  /* Line height */
  --p-line-height: 1.8;

  --mobile-h1-font-size: 25px;
  --mobile-p-font-size: 16px;

  --font-color: #ffffff;

  --h1-margin-bottom: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--main-bg-purple-color) !important;
  color: var(--font-color) !important;
}

h1 {
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size) !important;
  margin-bottom: var(--h1-margin-bottom);
}

h2 {
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size) !important;
}

h3 {
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size) !important;
}

p {
  font-family: var(--p-font-family);
  font-size: var(--p-font-size) !important;
  line-height: var(--p-line-height);
  margin: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.customGrid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, calc(33% - 0.25rem));
  gap: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerWidth {
  width: 75%;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

/*input[type="text"] {
  height: 30px;
  margin-top: 8px;
}*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #151533 inset !important;
  background-color: transparent !important;
  height: 30px;
  margin-top: 8px;

}
.skeleton {
  background-color: #f2f2f2;
  border-radius: 4px;
  animation: skeleton-loading 1s infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #f2f2f2;
  }
  100% {
    background-color: #dddddd;
  }
}

@media (max-width: 767px) {
  .customGrid {
    display: grid;
    grid-template-columns: repeat(1, calc(100%));
  }
  .containerWidth {
    width: 85%;
  }

  body {
    width: 100vw;
  }
  
}
