@import "bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica-webfont.woff2") format("woff2"),
    url("/fonts/helvetica-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-bold";
  src: url("/fonts/helvetica-bold-webfont.woff2") format("woff2"),
    url("/fonts/helvetica-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MonoLisa";
  src: url("/fonts/monolisa-regular-webfont.woff2") format("woff2"),
    url("/fonts/monolisa-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pirulen";
  src: url("/fonts/pirulen-webfont.woff2") format("woff2"),
    url("/fonts/pirulen-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */
  --main-bg-purple-color: #000033;
  --main-pink-color: #ff1199;
  --main-purple-color: #7224be;
  --main-lightblue-color: #00f9ff;

  /* Font families */
  --h1-font-family: "Pirulen";
  --h2-font-family: "MonoLisa";
  --h3-font-family: "Helvetica-bold";
  --p-font-family: "Helvetica";

  /* Font sizes */
  --h1-font-size: 38px;
  --h2-font-size: 30px;
  --h3-font-size: 20px;
  --p-font-size: 18px;

  /* Line height */
  --p-line-height: 1.8;

  --mobile-h1-font-size: 25px;
  --mobile-p-font-size: 16px;

  --font-color: #ffffff;

  --h1-margin-bottom: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--main-bg-purple-color) !important;
  color: var(--font-color) !important;
}

h1 {
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size) !important;
  margin-bottom: var(--h1-margin-bottom);
}

h2 {
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size) !important;
}

h3 {
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size) !important;
}

p {
  font-family: var(--p-font-family);
  font-size: var(--p-font-size) !important;
  line-height: var(--p-line-height);
  margin: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.customGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
