.homeTrendingContainer {
  margin: 100px 0 120px 0;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.homeAllProjectsContainer {
  margin: 100px 0 50px 0;
}

.homeAllProjectsSubContainer {
  margin-bottom: 100px;
}
.skeleton {
  height: 500px;
  width: 471px;
}
@media (max-width: 767px) {
  .skeleton {
    width: 561px;
    height: 275px;
  }
  .homeTrendingContainer {
    margin: 0;
    row-gap: 20px;
  }
  .homeAllProjectsContainer {
    margin: 0;
  }
}
