.likeBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.likeBtnContainer svg,
.likeBtnContainer p {
  position: absolute;
}

.likeBtnContainer:hover {
  animation: wiggle 0.5s infinite;
}

.likeBtnContainer p {
  color: var(--main-bg-purple-color);
  font-family: var(--h3-font-family);
  font-size: 15px !important;
}

.likeBtnContainer svg {
  scale: 0.85;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-3deg);
  }
  75% {
    transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
