.projectCardWrapper a {
  text-decoration: none;

  color: #ffffff;
}

.projectCardWrapper {
  display: flex;

  flex-direction: column;

  /* row-gap: 8px; */
}

.projectCardContainer {
  position: relative;

  height: 500px;

  overflow: hidden;

  background-size: cover;

  background-position: center;
}

/* Adjust the z-index to ensure the overlay is positioned below the contents within .projectCardContainer */

.projectCardContainer > * {
  position: relative;

  z-index: 1;
}

.projectCardInformationContainer {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;
}

.projectCardInformationContainer p {
  margin: 0;
}

.projectCardInformationCategoryContainer {
  position: absolute;

  top: 15px;

  left: 15px;

  background: linear-gradient(135deg, transparent 7px, rgba(0, 0, 0, 0.7) 0) top
      left,
    linear-gradient(-45deg, transparent 7px, rgba(0, 0, 0, 0.7) 0) top right;

  background-size: 50% 100%;

  background-repeat: no-repeat;
}

.projectCategoryContainer {
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 4px;
  color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
  width: fit-content;
}

.projectCardInformationCategoryContainer p {
  padding: 2px 10px;

  font-family: var(--h2-font-family);
}

.projectCardInformationSubContainer {
  width: calc(100%);

  position: absolute;

  bottom: 0px;

  padding: 5px 20px;

  display: flex;

  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.9);
}

.projectCardInformationTitleContainer {
  width: 80%;
}

.projectCardInformationLikeContainer {
  text-align: right;

  width: 40px;
}

.projectCardInformationName {
  color: var(--main-pink-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: -5px !important;
}

.projectCardInformationLikeSubContainer {
  position: relative;

  width: 100%;

  height: 100%;
}

.projectCategoriesContainer {
  padding: 10px 100px 10px 20px;

  background: linear-gradient(-45deg, transparent 20px, #000000 0);

  background-repeat: no-repeat;

  min-height: 45px;

  max-height: 60px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.projectCategoriesContainer p {
  color: #ffffff;

  font-family: var(--p-font-family);
  font-size: 14px !important;

  overflow: hidden;

  white-space: nowrap;

  text-overflow: ellipsis;
}

.projectCardInformationTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.a_wrapper {
  text-decoration: none;
  color: #ffffff;
}

.a_wrapper:hover {
  color: var(--main-lightblue-color);
}

.neonEffect {
  /* Existing styles */
  transition: box-shadow 0.3s ease;
}

.neonEffect:hover {
  box-shadow: 0 0 0.2rem #7224be, 0 0 0.2rem #7224be, 0 0 0.2rem #7224be,
    0 0 0.2rem #7224be, 0 0 0.2rem #7224be, inset 0 0 0.2rem #7224be;
}
.BannerText {
  margin: 10%;
  width: 25%;
}

.projectCardInformationTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 767px) {
  .projectCardContainer {
    height: 275px;
  }
  .BannerText {
    margin: 0;
    width: 100%;
  }
  .projectCardWrapper {
    margin-bottom: 14px;
  }
}
