.slider {
  position: relative;
  width: 100%;
}

.projectContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
}

.sliderContainer {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  transform: translateX(-${startIndex * 100}%);
}

.sliderContainer div {
  width: calc(25% - 0.5rem);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.navigationButton {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
}

.previousButton {
  position: absolute;
  left: -4rem;
}

.nextButton {
  position: absolute;
  right: -4rem;
}

.navigationButton:disabled {
  color: #999;
  cursor: not-allowed;
}

.navigationIcon {
  font-size: 2rem;
}

.navigationButton:hover .navigationIcon {
  color: #666;
}
