.titleContainer {
  display: flex;
  flex-direction: column;
}

.titleSubDiv {
  width: 60%;
}

.titleSubDiv img {
  width: 100%;
}
@media (max-width: 767px) {
  .titleContainer {
    margin-top: 7%;
  }
}
